*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background: whitesmoke;
}

nav{
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    height: 100px;
}


.logo img{
    width: 16em;
    position: absolute;
    top: -5em;
    left: 0em;
}

nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
nav ul li a:hover{
    color: blue;
}

.menu-icon{
    display: none;
}
.menu-icon:hover i {
    color: blue;
}

.menu-icon i{
    color: black;
    font-size: 30px;
}

@media (max-width: 654px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: white;
        gap: 0;
        overflow: hidden;
        z-index: 1; /* Add this line to ensure the menu appears above the carousel */
    }
    nav ul li {
        padding: 20px;
        padding-top: 0;
    }
    .menu-icon {
        display: block;
    }
    #menuList {
        transition: all 0.5s;
    }
    nav ul li:hover{
        color: blue;
    }

}

.carousel .carousel-item {
    max-height:600px;
    width: 100%;
    position: relative;
}

.carousel-item img {
    object-fit:cover;
    max-height:600px;
    width : 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; /* Align cards to the right */
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align cards to the left */
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    width: calc(50% - 20px); /* Increase card width */
    text-align: left;
    display: flex;
    flex-direction: row; /* Ensure content is laid out in a row */
    align-items: center;
    animation: float 3s ease-in-out infinite; /* Apply the floating animation */
}

.card img {
    width: 30%; /* Decrease image width */
    height: 60%; /* Maintain aspect ratio */
    order: 2; /* Image on the right */
}

.card .content {
    width: 75%; /* Adjust based on your needs */
    order: 1; /* Text content on the left */
    display: flex;
    flex-direction: column; /* Ensures all text is in one column */
}

.font {
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 2em;
}

.yellow{
    color: goldenrod;
    font-weight: bold;
}

@media (max-width: 770px) {
    .card {
        font-size: 14px; /* Decrease font size */
    }
    .card img {
        width: 40%; /* Decrease image width */
        height: 100%; /* Maintain aspect ratio */
        order: 2; /* Image on the right */
    }
}

.About {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 80%; /* Adjust this value to control the width */
    margin: 0 auto; /* Centers the div */
    padding: 20px; /* Ensure width is 100% */
    background-color:  #7eb4e2; /* Soft light grey background */
    animation: float 3s ease-in-out infinite;
}

.text-content {
    width: 70%;
    float: left;
    margin-right: 0%;
}

.About .text-content h1 {
    text-align: center;
}

.About, .About h1, .About p {
    color:black; /* Sets font color to white */
}


/* Responsive Design */
@media (max-width: 768px) {
    .About {
        flex-direction: column;
        text-align: center;
    }
    .About .text-content {
        width: 100%;
    }
}


.Services h1, .Services p {
    /* Removed text-align: center; */
    display: block; /* Ensure block level for proper margin manipulation */
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* Match .cards width */
    padding-left: 20px; /* Match .cards padding for alignment */
    box-sizing: border-box; /* To include padding in the width calculation */
}

.eligiblity h1 {
    text-align: center;
    display: block; /* Changed from inline to block */
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    margin-top: 0.5em; /* This will make the width as wide as its content */
}

.eligiblity p {
    padding: 1em; /* Adjust if necessary to match .cards alignment */
    text-align: center;
}

.cards {
    width: 80%; /* Adjust width as needed */
    margin: 0 auto; /* Center the div */
    padding: 20px; /* Add some padding */
    box-sizing: border-box; /* Include padding in width calculation */
    font-size: 20px;
    background-color: #7eb4e2; /* Set background color */
    animation: float 3s ease-in-out infinite;
}
.checkmark::before, .crossmark::before {
    content: "\2713"; /* Unicode character for a check mark */
    color: red; /* Set the color to red */
    margin-right: 5px; /* Add some space between the icon and text */
}

.crossmark::before {
    content: "\2717"; /* Unicode character for a cross mark */
}

.cards li {
    list-style-type: none;
     font-size: 25px; 
}

.founders h1 {
    text-align: center;
    margin: 1em; /* Center the h1 element */
}

.founders-container { /* Apply flexbox layout to this container */
    display: flex;
    flex-direction: row; /* Align items in a row */
    justify-content: center; /* Center items horizontally */
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    gap: 20px; /* Add space between images */
}

.founder img {
    width: 250px; /* Increase the width as needed */
    height: 250px; /* Make height equal to width for a circle */
    border-radius: 50%; /* Ensure images are circular */
    object-fit: cover;
    padding: 2px; /* Adds space around the image */
    margin: 10px; /* Adds margin around the image */
    box-shadow: 0 0 8px rgba(255, 215, 0, 0.6); 
    transition: box-shadow 0.3s ease-in-out;  /* Cover the area without distortion */
}

.founder {
    text-align: center; /* Center the text below images */
    padding: 10px; /* Add some padding */
}

/* Responsive Design */
@media (max-width: 768px) {
    .founders {
        flex-direction: column;
    }
}



.whatsapp-icon {
    font-size: 40px;
    color: white;
    margin-right: 10px;
}

.whatsapp-float {
    position: fixed;
    width: auto;
    height: 63px;
    padding: 0px 15px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    text-decoration: none;
    animation: float 5s ease-in-out infinite;
}

.whatsapp-text {
    font-size: 18px; /* Remains unchanged */
    color: white; /* Remains unchanged */
}

.services {
    display: flex;
    justify-content: space-around; /* Adjusts the space between the cards */
    align-items: flex-start; /* Aligns items at the start of the flex container */
    flex-wrap: wrap; /* Allows items to wrap as needed */
    gap: 20px; /* Space between the cards */
    width: 80%; /* Sets the width of .services to 80% of its parent */
    margin: 1em auto; /* Centers .services horizontally */
}
/* Base styles for .one and .two */
.one, .two {
    flex-basis: calc(50% - 10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 20px rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    transition: transform 0.3s ease;
    min-height: 400px; /* Default min-height for the smallest screens */
    animation: float 3s ease-in-out infinite;
}

/* Adjustments for screens larger than 700px */
@media (min-width: 700px) {
    .one, .two {
        min-height: 500px; /* Adjust height as needed */
    }
}

/* Adjustments for screens larger than 800px */
@media (min-width: 800px) {
    .one, .two {
        min-height: 430px; /* Adjust height as needed */
    }
}

/* Additional media query for very large screens, if necessary */
@media (min-width: 1000px) {
    .one, .two {
        min-height: 394px; /* Adjust height as needed */
    }
}

/* Media query for screens with a maximum width of 650px */
@media (max-width: 650px) {
    .services {
        display: flex;
        flex-direction: column; /* Stack cards vertically */
    }
    .one, .two {
        width: 100%; /* Ensure each card takes full width */
        margin-bottom: 20px; /* Add some space between cards */
        flex-basis: 100%; /* Ensure each card takes full width */
    }
}
.one:hover, .two:hover {
    transform: translateY(-5px); /* Slight lift effect on hover */
}

.one h1, .two h1 {
    font-weight: bold;
    color: black; /* Makes the <h1> tags bold and violet as per previous instructions */
    padding-bottom: 0.6em;
}

.contact-us {
    background-color: rgba(255, 215, 0, 0.9); /* Light grey background */
    padding: 20px;
    margin: 20px 0;
    text-align: center; /* Center align the content */
}

.contact-us h2 {
    margin-bottom: 20px;
}

.contact-info a, .contact-info p {
    display: block; /* Each item on its own line */
    margin: 10px 0; /* Add some space between items */
    color: #333; /* Dark color for text */
    text-decoration: none; /* Remove underline from links */
}

.contact-info i {
    margin-right: 8px; /* Space between icon and text */
}

.contact-us h2 {
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Centers the h2 element */
}

#Contact form {
    width: 70%;
    margin: 0 auto; /* Centers the form */
}

#Contact .form-control {
    width: 90%; /* Reduces the width of text boxes */
    margin: 0 auto; /* Centers the text boxes */
    display: block; /* Ensures text boxes are properly centered */
}

#Contact label {
    display: block; /* Ensure labels are block-level for padding to take effect */
    padding-left: 1%; /* Adjust this value to align with the start of text boxes */
    margin: 0 auto; /* Centers the label */
    width: 90%; /* Match the text box width for consistent alignment */
}
@media (min-width: 30px) {
    .h2, h2 {
        font-size: 2rem;
        text-align: center;
    }
}

#Contact button[type="submit"] {
    display: block; /* Makes the button a block-level element */
    margin: 0 auto; /* Centers the button horizontally */
    width: auto; /* Adjusts the width to fit the content, or set a specific width */
}

/* Media query for screens with a maximum width of 600px */
@media (max-width: 765px) {
    .container {
        display: flex;
        flex-direction: column; /* Stack cards vertically */
    }
    .container .card {
        width: 95%; /* Ensure each card takes full width */
        margin-bottom: 20px; /* Add some space between cards */
    }
}

